*{
    margin: 0;
    padding: 0;
}
body{
    width: 1280px;
    font-family: 'Montserrat', sans-serif;
}

.header{
    padding: 26px;
}

.header-navigation ul{
    text-align: center;
}

.header-navigation li{
    display: inline;
    margin: 0 36px;
}

.header a{
    color:#FF0000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-decoration: none;
}

.banner{
    margin-bottom: 48px;

}

.main_title{
text-align: center;
text-transform: uppercase;
letter-spacing: 3.3px;
line-height: 27px;
margin-bottom: 38px;
color: #373737;
}


.main_paragraphs{
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    width: 1145px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-bottom: 66px;
}

.first_paragraph{
    margin-bottom: 28px;
    line-height: 26px;
}
.second_paragraph{
    line-height: 26px;
}

.button{
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #FF0000;
    border-radius: 4px;
    border: none;
    padding: 18px 43px;
    margin-bottom: 82px;
}

.copyright-info{
    box-sizing: border-box;
    display: block;
    text-align: right;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color:#373737;
    letter-spacing: 2.4px;
    margin-right: 105px;
    margin-bottom: 29px;
}
